.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dashboard-actions {
    display: flex;
    gap: 10px;
  }
  .toast-confirm-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toast-confirm-buttons button:first-child {
    background-color: #28a745; /* green */
    color: white;
  }
  
  .toast-confirm-buttons button:last-child {
    background-color: #dc3545; /* red */
    color: white;
  }
  
  .add-stock-button {
    background-color: #0f0f0f;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  .table-container {
    margin-top: 20px;
  }
  